<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ReserveDao">
    <select id="findBySearch" resultType="com.example.entity.Reserve">
        select reserve.*,book.name as bookname from reserve left join book on reserve.bookId=book.id
        <where>
            <if test="params!=null and params.name!=null and params.name!=''">
                and book.name like concat('%',#{ params.name },'%')
            </if>
            <if test="params!=null and params.userId!=null">
                and userId=#{params.userId}
            </if>
        </where>

    </select>

    <select id="find" resultType="com.example.entity.Reserve">
        select reserve.*,book.name as bookname from reserve left join book on reserve.bookId=book.id
        <where>
            <if test="params.command!=null and params.command!='' and params!=null">
                and reserve.state=#{params.command}
            </if>
            <if test="params!=null and params.userId!=null">
                and userId=#{params.userId}
            </if>
        </where>

    </select>

</mapper>